* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

.wrapper {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 820px;
    padding: 0 15px;
}

.input-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #303030;

    margin-bottom: 18px;
}

.block-input {
    display: flex;
    justify-content: center;
    gap: 15px 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;

    &__date,
    &__btn {
        display: inline-block;
        width: 100%;
        max-width: 380px;
        border-radius: 8px;
    }

    &__date {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #d9d9d9;

        cursor: pointer;
        height: 50px;
        padding: 14px;
        border: 1px solid #e2e2e2;
    }

    &__btn {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;

        cursor: pointer;
        border: none;
        background-color: #5e55d6;
        transition-duration: 0.1s;
        padding: 13px 20px;
    }

    &__btn:hover {
        transition-duration: 0.1s;
        background-color: #514ac0;
    }
}

.output-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    margin-bottom: 8px;
}

.block-output {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #000000;

    @media (max-width: 576px) {
        font-size: 30px;
    }
}
